{% load static %}

<!-- Content -->
<section id="content" class="section-1 single featured">
    <div class="container">
        <div class="row content">

            <!-- Main -->
            <main class="col-12 col-lg-8 p-0">

                <!-- Text -->
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h2 class="featured mt-0 ml-0">About Us</h2>
                        {{about.about | safe}}

                        <div class="gallery">
                            {% if about.image %}
                            <a href="{{about.image.url}}">
                                <img src="{{about.image.url}}" class="w-100">
                            </a>
                            {% else %}
                            <a href="{% static 'app_core/assets/images/news-3.jpg' %}">
                                <img src="{% static 'app_core/assets/images/news-3.jpg' %}" class="w-100">
                            </a>
                            {% endif %}
                        </div>

                        <!-- <h4>Lorem ipsum dolor</h4>
                        <p>Sed mauris nulla, tempor eu est vel, dapibus hendrerit mauris curabitur dictum pharetra.</p>
                        <p>Etiam mollis sem sed bibendum blandit. Aenean quis luctus ligula, vitae suscipit dui. Nunc diam orci, tincidunt eget consectetur sit amet, vulputate.</p> -->
                    </div>
                </div>

            </main>
            
            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">                    
                <div class="row">
                    <div class="col-12 align-self-center text-left">

                        <!-- Widget [services] -->
                        <div class="item widget-services">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <i class="icon icon-badge"></i>
                                        <h5>{{skills.title1}}</h5>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <i class="icon icon-briefcase"></i>
                                        <h5>{{skills.title2}}</h5>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <i class="icon icon-trophy"></i>
                                        <h5>{{skills.title3}}</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Widget [testimonials] -->
                        <div class="item widget-carousel">
                            <div class="swiper-container mid-slider-simple items" data-perview="1" data-autoplay="true">
                                <div class="swiper-wrapper">
                                {% for testimonio in testimonials %}
                                <div class="swiper-slide slide-center text-center item">
                                    <div class="row card">
                                        <div class="col-12">
                                            {% if testimonio.image %}
                                                <img src="{{testimonio.image.url}}" alt="Adams Baker" class="person">
                                            {% else %}    
                                                <img src="{% static 'app_user/images/user.png' %}" alt="Adams Baker" class="person">
                                            {% endif %}
                                            
                                            <h4>{{testimonio.name}}</h4>
                                            <p>{{testimonio.description|truncatechars:100}}</p>
                                            <a href="{% url 'app_core:contact' %}#team" class="ml-auto mr-auto btn primary-button"><i class="icon-cup"></i>See More</a>
                                            <!-- <ul class="navbar-nav social share-list ml-auto">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                    

                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </aside>

        </div>
    </div>
</section>