<!-- Skills -->
<section id="skills" class="section-2 counter skills">
    <div class="container">
        <div class="row text-center intro">
            <div class="col-12">
                <h2 class="super effect-static-text">Main Skills</h2>
                <p class="text-max-800 white_color_custom">We see all types of projects as if they were ours. This brings us closer to our clients' projects bringing much more confidence and commitment.</p>
            </div>
        </div>
        <div data-aos-id="counter" data-aos="fade-up" data-aos-delay="200" class="row justify-content-center text-center items">
            <div class="col-12 col-md-6 col-lg-4 item">
                <div data-percent="{{indicators.number1}}" class="radial">
                    <span class="white_color_custom"></span>
                </div>
                <h4 class="white_color_custom">{{indicators.title1}}</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div data-percent="{{indicators.number2}}" class="radial">
                    <span class="white_color_custom"></span>
                </div>
                <h4 class="white_color_custom">{{indicators.title2}}</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div data-percent="{{indicators.number3}}" class="radial">
                    <span class="white_color_custom"></span>
                </div>
                <h4 class="white_color_custom">{{indicators.title3}}</h4>
            </div>
            <!-- <div class="col-12 col-md-6 col-lg-3 item">
                <div data-percent="100" class="radial">
                    <span class="white_color_custom"></span>
                </div>
                <h4 class="white_color_custom">WordPress</h4>
            </div> -->
        </div>
    </div>
</section>