{% load static %}

<!-- Insurance -->
<section id="get" class="section-5 hero odd p-0">
    <div class="swiper-container no-slider animation slider-h-60">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <video class="full-image" data-mask="10" playsinline autoplay muted loop>
                    <source src="{% static 'app_core/assets/videos/ink4.mp4' %}" type="video/mp4" />
                </video> 
                <!-- 
                    Suggestion: Add a video to your assets folder and configure it here.

                    <video type="video/mp4" class="full-image" data-mask="70" src="assets/videos/yourvideo.mp4" autoplay muted loop></video> 
                -->

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="center align-self-center text-center">
                            <h2 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text" style="text-transform: capitalize;">
                                We handle insurance claims
                            </h2>
                            <!-- <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto">We are driven by creativity. We create innovative things to help you achieve better results and consolidate yourself in the market.</p>
                            <a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mt-5 btn primary-button"><i class="icon-rocket"></i>CONTACT US</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>