{% load static %}

<!-- Partners -->
<section id="partner" class="section-5 logos">
    <div class="overflow-holder">
        <div class="container">
            <div class="swiper-container min-slider">
                <div class="swiper-wrapper">
                
                    {% for patrocinio in partners %}
                        <div class="swiper-slide slide-center item">
                            {% if patrocinio.image %}
                                {% if patrocinio.url %}
                                    <a href="{{patrocinio.url}}" target="_blank">
                                        <img src="{{patrocinio.image.url}}" class="fit-image w-85" alt="Fit Image">
                                    </a>
                                {% else %}
                                    <img src="{{patrocinio.image.url}}" class="fit-image w-85" alt="Fit Image">                                
                                {% endif %}
                            {% else %}
                                <img src="{% static 'app_core/assets/images/featured-1.png' %}" class="fit-image w-85" alt="Fit Image">
                            {% endif %}
                            
                        </div>
                    {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-1" style="padding: 60px 0px;"></section>