{% load static %}

<!-- Content -->
<section id="content" class="section-1 single pb-0">
    <div class="container">
        <div class="row">

            <!-- Main -->
            <main class="col-12 p-0">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h2 class="featured mt-0 ml-0">{{servicio.title}}</h2>
                        {{servicio.description|safe}}
                        <!-- Image -->
                        <div class="gallery container_custom">
                            <a href="{{servicio.image.url}}">
                                <img src="{{servicio.image.url}}" class="w-100">
                            </a>
                        </div>

                        <p>
                            <blockquote>{{servicio.description_finish}}</blockquote>
                        </p>

                    </div>
                </div>        
            </main>
        </div>
    </div>
</section>

{% for subservice in subservicios %}

    {% if forloop.counter|divisibleby:"2" %}
        <!-- Subservice Left -->
        <section id="about" class="section-1 highlights image-right" style="padding-top: 45px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 align-self-center text-center text-md-left">
                        <div class="row intro mb-0">
                            <div class="col-12 p-0">
                                <h2 class="featured">{{subservice.title}}</h2>
                                {{subservice.description|safe}}
                            </div>
                        </div>
                    </div>
                    <div class="gallery col-12 col-md-6">
                        <a href="{{subservice.image.url}}">
                            <img src="{{subservice.image.url}}" class="fit-image" alt="About Us">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        {% if forloop.last %}
            <!-- Este es el último elemento - Suibservice Rigth -->
            <section id="video" class="section-2 odd highlights image-left">
                <div class="container">
                    <div class="row">
                        <div class="gallery col-12 col-md-6">
                            <a href="{{subservice.image.url}}">
                                <!-- <i class="play-video icon-control-play"></i>
                                <div class="mask-radius"></div> -->
                                <img src="{{subservice.image.url}}" class="fit-image" alt="Institutional">
                            </a>
                        </div>
                        <div class="col-12 col-md-6 pl-md-5 align-self-center text-center text-md-left">
                            <div class="row intro mb-0">
                                <div class="col-12 p-0">
                                    <h2 class="featured">{{subservice.title}}</h2>
                                    <div class="custom_color_subservice">
                                        {{subservice.description|safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
            <section class="section-1" style="padding: 60px 0px;"></section>
        {% else %}
            <!-- No es el último elemento - Suibservice Rigth -->
            <section id="video" class="section-2 odd highlights image-left">
                <div class="container">
                    <div class="row">
                        <div class="gallery col-12 col-md-6">
                            <a href="{{subservice.image.url}}">
                                <!-- <i class="play-video icon-control-play"></i>
                                <div class="mask-radius"></div> -->
                                <img src="{{subservice.image.url}}" class="fit-image" alt="Institutional">
                            </a>
                        </div>
                        <div class="col-12 col-md-6 pl-md-5 align-self-center text-center text-md-left">
                            <div class="row intro mb-0">
                                <div class="col-12 p-0">
                                    <h2 class="featured">{{subservice.title}}</h2>
                                    <div class="custom_color_subservice">
                                        {{subservice.description|safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}
    
{% endfor %}    
