{% load static %}

<!-- Get -->
<section id="get" class="section-5 hero p-0">
    <div class="swiper-container no-slider animation slider-h-75">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <video class="full-image" data-mask="10" playsinline autoplay muted loop>
                    <source src="{% static 'app_core/assets/videos/ink3.mp4' %}" type="video/mp4" />
                </video>

                <!-- 
                    Suggestion: Add a video to your assets folder and configure it here.

                    <video type="video/mp4" class="full-image" data-mask="70" src="assets/videos/yourvideo.mp4" autoplay muted loop></video> 
                -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 order-md-1 order-2">
                            <img src="{% static 'app_core/assets/images/logo_marco.png' %}" style="width: 100%;">
                        </div>
                        <div
                            class="col-md-6 order-md-2 order-1 d-flex align-items-center justify-content-center mb-5 mb-md-0">
                            <div class="text-center text-md-left">
                                <h2 class="featured mt-0">Follow Us</h2>
                                <ul class="navbar-nav social share-list mt-0">
                                    {% for red_social in social_media %}
                                    <li class="nav-item">
                                        <a href="{{red_social.url}}" class="nav-link" target="_blank"><i
                                                class="{{red_social.icon_class}}"></i></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>