{% load static %}

<!-- Get -->
<section id="get" class="section-5 hero p-0">
    <div class="swiper-container no-slider animation slider-h-75">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <video class="full-image" data-mask="10" playsinline autoplay muted loop>
                    <source src="{% static 'app_core/assets/videos/ink.mp4' %}" type="video/mp4" />
                </video> 

                <!-- 
                    Suggestion: Add a video to your assets folder and configure it here.

                    <video type="video/mp4" class="full-image" data-mask="70" src="assets/videos/yourvideo.mp4" autoplay muted loop></video> 
                -->


                <!-- <div class="slide-content row">
                    <div class="col-12 d-flex justify-content-between align-items-center inner">
                        <div class="left">
                            <img src="{% static 'app_core/assets/images/news-3.jpg' %}" style="width: 100%;">
                        </div>
                        <div class="right text-center text-md-left">
                            <h2 class="featured mt-0 ml-0">Follow Us</h2>
                            <div class="d-sm-inline-flex mt-3">
                                <ul class="navbar-nav social share-list mt-0 ml-auto">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                

                <!-- <div class="container">
                    <div class="row">
                        <div class="col-md-6 order-md-1 order-2">
                            <img src="{% static 'app_core/assets/images/news-3.jpg' %}" style="width: 100%;" class="mb-3 mb-md-0">
                        </div>
                        <div class="col-md-6 order-md-2 order-1 text-center text-md-left">
                            <h2 class="featured mt-0">Follow Us</h2>
                            <ul class="navbar-nav social share-list mt-0">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->


                <div class="container">
                    <div class="row">
                        <div class="col-md-6 order-md-1 order-2">
                            <img src="{% static 'app_core/assets/images/logo_marco.png' %}" style="width: 100%;">
                        </div>
                        <div class="col-md-6 order-md-2 order-1 d-flex align-items-center justify-content-center mb-5 mb-md-0">
                            <div class="text-center text-md-left">
                                <h2 class="featured mt-0">Follow Us</h2>
                                <ul class="navbar-nav social share-list mt-0">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-instagram custom-icon"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-facebook custom-icon"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-linkedin custom-icon"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-twitter custom-icon"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>