{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} About{% endblock head_title %}

{% block extra_styles %}{% endblock extra_styles %}

{% block content %}

<!-- start Banner -->
    {% include 'app_core/snippets/banner_about.html' %}
<!-- end Banner -->

<!-- start About Us -->
    {% include 'app_core/snippets/about.html' %}
<!-- end About Us -->

<!-- start Counters -->
    {% include 'app_core/snippets/counters.html' %}
<!-- end Counters -->

<!-- start Mission Vision -->
    {% include 'app_core/snippets/mission_vision.html' %}
<!-- end Mission Vision -->

<!-- start Contact -->
    {% include 'app_core/snippets/subscribe.html' %}
<!-- end Contact -->

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}