{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Contact{% endblock head_title %}

{% block extra_styles %}
<!-- ==============================================
Open Street Map
=============================================== -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton/src/easy-button.css" />
<style>
    .card {
        background-color: var(--header-bg-color);
    }
    .fa-tiktok {
        color: #111111;

        filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
    }
    .item.active:hover h5 {
        color: white;
    }
    .card:not(.no-hover):hover {
        background: -webkit-linear-gradient(45deg, var(--third-color) 15%, var(--four-color) 65%);
        background: linear-gradient(45deg, var(--four-color) 15%, var(--third-color) 65%);
        transform: translateY(-7.5px);
    }
    #map {
        width: 100%;
        height: 450px;
    }
    .leaflet-control-locate a {
        color: black !important;
    }
    .leaflet-control-zoom a {
        color: black !important;
    }
    .leaflet-control-layers-list {
        padding: 0 0;
    }
</style>
{% endblock extra_styles %}

{% block content %}

<!-- start Banner -->
    {% include 'app_core/snippets/banner_contact.html' %}
<!-- end Banner -->

<!-- start FAQ -->
    {% include 'app_core/snippets/contact_section.html' %}
<!-- end FAQ -->

<!-- start Testimonials -->
    {% include 'app_core/snippets/testimonials.html' %}
<!-- end Testimonials -->

<!-- start Contact -->
    {% include 'app_core/snippets/subscribe.html' %}
<!-- end Contact -->

{% endblock content %}

{% block extra_javascript %}
<!-- ==============================================
Open Street Map
=============================================== -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
<script src="https://unpkg.com/leaflet-easybutton/src/easy-button.js"></script>

<script>
    // coordinates
    var latitude = "{{contact.latitude}}";
    var longitude = "{{contact.longitude}}";

    // Define la ubicación del marcador
    var markerLocation = [latitude,longitude];

    // Define la URL de la imagen personalizada
    var imageUrl = '{% static "app_core/assets/images/marker_map.webp" %}';

    // Crea un icono personalizado con la imagen
    var customIcon = L.icon({
        iconUrl: imageUrl,
        iconSize: [100, 100], // Tamaño de la imagen en píxeles
        iconAnchor: [50, 100], // Punto de anclaje del icono (la parte inferior del icono en este caso)
    });

    var map = L.map('map', {
        scrollWheelZoom: false,
        attributionControl: false
    }).setView(markerLocation, 16); // Definimos el centro y el nivel de zoom inicial

    // Agregamos el mapa de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Crea el marcador con el icono personalizado
    var marker = L.marker(markerLocation, { icon: customIcon }).addTo(map);

    // Añadimos un control de capas (opcional)
    var baseLayers = {
        "Mapa de Calle": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }),
        "Satélite": L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: '&copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        })
    };
    L.control.layers(baseLayers).addTo(map);

    // Agregamos el control de ubicación con un icono personalizado
    L.control.locate({
        icon: 'fa fa-crosshairs'
    }).addTo(map);
    
    // Creamos un botón personalizado para redirigir al marcador
    var goToMarkerButton = L.easyButton('fa-location-arrow', function(btn, map){
        map.setView(marker.getLatLng(), 16); // Centra el mapa en la ubicación del marcador con un zoom de 17
    });
    goToMarkerButton.addTo(map);
    // Crear un botón personalizado
    var googleMapsButton = L.easyButton('fa-map', function(btn, map){
        // Obtener las coordenadas del marcador
        var lat = marker.getLatLng().lat;
        var lng = marker.getLatLng().lng;
        
        // Abrir Google Maps en un nuevo tab del navegador
        window.open('https://www.google.com/maps/search/?api=1&query=' + lat + ',' + lng, '_blank');
    });

    // Agregar el botón al mapa
    googleMapsButton.addTo(map);
</script>
{% endblock extra_javascript %}