{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Home{% endblock head_title %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<style>
    .card-body {
        position: relative;
    }

    .open-fancybox {
        display: inline-block;
        position: relative;
    }

    .open-fancybox i {
        transition: color 0.3s;
    }

    .hover-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px; /* Ajusta el tamaño del círculo según sea necesario */
        height: 60px; /* Ajusta el tamaño del círculo según sea necesario */
        border-radius: 50%;
        background-color: transparent;
        opacity: 0;
        transition: background-color 0.3s, opacity 0.3s;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .open-fancybox:hover .hover-circle {
        background-color: white;
        opacity: 0.5;
    }
</style>
{% endblock extra_styles %}

{% block content %}

<!-- start Banner -->
    {% include 'app_core/snippets/banner.html' %}
<!-- end Banner -->

<!-- start About -->
    {% include 'app_core/snippets/about.html' %}
<!-- end About -->

<!-- start Social Media -->
    {% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

<!-- start Services -->
    {% include 'app_core/snippets/services.html' %}
<!-- end Services -->

<!-- start Portafolio -->
    {% include 'app_core/snippets/portafolio.html' %}
<!-- end Portafolio -->

<!-- start Counters -->
    {% include 'app_core/snippets/counters.html' %}
<!-- end Counters -->

<!-- start Partners -->
    {% include 'app_core/snippets/partners.html' %}
<!-- end Partners -->

<!-- start Subscribe -->
    {% include 'app_core/snippets/subscribe.html' %}
<!-- end Subscribe -->

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}