<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="top_tiles">

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:about_update' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-institution icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">About</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:banner_update' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-laptop icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Banner</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:contact_update' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-user icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Contact</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:counter_update' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-area-chart icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Counter</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:faqs' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-check-square-o icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">FAQ</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:partners' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-bolt icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Partner</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:privacy_update' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-file icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Privacy</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:services' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-sitemap icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Services</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:social_media' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-facebook icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Social Media</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:testimonials' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-comment icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Testimonial</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:skill_update' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-cogs icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Why Us</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  ">
                    <a href="{% url 'app_user:works' %}">
                        <div class="x_panel fixed_height_200">
                            <div class="x_content">
                                <div class="flex">
                                    <ul class="list-inline widget_profile_box">
                                        <li>
                                        </li>
                                        <li >
                                            <div class="icon" style="text-align: center;"><i class="fa fa-image icono-grande"></i></div>
                                        </li>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="name" style="text-align: center; padding-top: 18px;">Works</h3>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>