{% extends "app_user/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} SubServices{% endblock head_title %}

{% block extra_styles %}
<!-- DataTables -->
<link href="{% static 'app_user/vendors/DataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock extra_styles %}

{% block content %}

<!-- start Subservices -->
    {% include 'app_user/snippets/subservices.html' %}
<!-- end Subservices -->

{% endblock content %}

{% block extra_javascript %}
<!-- DataTables -->
<script src="{% static 'app_user/vendors/DataTables/datatables.min.js' %}"></script>

<script>
    $("#SubserviceTable").DataTable({
        dom: "lBfrtip",
        buttons: [
            'copy', 'excel', 'pdf'
        ],
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
        pageLength: 10,
        responsive: true,
    });
</script>
{% endblock extra_javascript %}