{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="card card-box">
      <div class="card-head">
        <header>Cambiar contraseña</header>
      </div>

      <div class="card-body mt-4 ml-3 mb-4">

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">

                        <!--<h1>{% trans "Change Password" %}</h1>-->
                      <p>{% trans 'Your password is now changed.' %}</p>
                      <a href="/" class="btn btn-circle btn-primary"><< Regresar</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

{% endblock %}
