{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

          	<h1>{% trans "Set Password" %}</h1>

    		    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    		        {% csrf_token %}
    		        {{ form.as_p }}
    		        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    		    </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}
