{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="card card-box">
      <div class="card-head">
        <header>Restablecer contraseña</header>
      </div>

      <div class="card-body mt-4 ml-3 mb-4">

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">

                    <!--<h1>{% trans "Password Reset" %}</h1>-->
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset pb-3">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-circle btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
                    </form>

                    <!--<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>-->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

    
{% endblock %}
