{% extends "app_user/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{{ block.super }}{% trans "Change Password" %}{% endblock %}

{% block extra_styles %}
<!-- PNotify -->
<link href="{% static 'app_user/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
<link href="{% static 'app_user/vendors/pnotify/dist/pnotify.buttons.css' %}" rel="stylesheet">
<link href="{% static 'app_user/vendors/pnotify/dist/pnotify.nonblock.css' %}" rel="stylesheet">
{% endblock extra_styles %}

{% block content %}

<div class="">
   <div class="page-title">
      <div class="title_left" style="padding-bottom: 12px;">
         <h3>Change Password</h3>
      </div>
   </div>
   <div class="clearfix"></div>
   <div class="row">
      <div class="col-md-12 col-sm-12 ">
         <div class="x_panel">
            <div class="x_title">
               <h2>Update <small></small></h2>
               <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="fa fa-wrench"></i></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a class="dropdown-item" href="#">Settings 1</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Settings 2</a>
                        </li>
                     </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <div class="x_content">
               <br />
               <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post"
                  action="{% url 'account_change_password' %}">
                  {% csrf_token %}

                  <div class="item form-group">
                     <label class="col-form-label col-md-3 col-sm-3 label-align" id="old_pass">Old Password <span
                           class="required">*</span>
                     </label>
                     <div class="col-md-6 col-sm-6 ">
                        <input class="form-control" type="password" placeholder="Old Password" id="id_oldpassword"
                           name="oldpassword" required>
                     </div>
                  </div>

                  <div class="item form-group">
                     <label class="control-label col-md-3 col-sm-3 label-align" id="new_pass">New Password <span
                           class="required">*</span>

                     </label>
                     <div class="col-md-6 col-sm-6 ">
                        <input class="form-control" type="password" placeholder="New Password" id="id_password1"
                           name="password1" required>
                     </div>
                  </div>

                  <div class="item form-group">
                     <label class="col-form-label col-md-3 col-sm-3 label-align" id="repeat_pass">New Password
                        Confirmation <span class="required">*</span>
                     </label>
                     <div class="col-md-6 col-sm-6 ">
                        <input class="form-control" type="password" placeholder="New Password Confirmation"
                           id="id_password2" name="password2" required>
                     </div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="item form-group">
                     <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                     </div>
                  </div>

               </form>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock content %}

{% block extra_javascript %}
<!-- PNotify -->
<script src="{% static 'app_user/vendors/pnotify/dist/pnotify.js' %}"></script>
<script src="{% static 'app_user/vendors/pnotify/dist/pnotify.buttons.js' %}"></script>
<script src="{% static 'app_user/vendors/pnotify/dist/pnotify.nonblock.js' %}"></script>

{% if form.errors %}
   {% for field in form %}
      {% for error in field.errors %}
         <script>
            new PNotify({
               title: 'Error',
               text: '{{ error|escape }}',
               type: 'error',
               styling: 'bootstrap3'
            });
         </script>
      {% endfor %}
   {% endfor %}
   {% for error in form.non_field_errors %}
      <script>
         new PNotify({
            title: 'Error',
            text: '{{ error|escape }}',
            type: 'error',
            styling: 'bootstrap3'
         });
      </script>
   {% endfor %}
{% endif %}

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}          
    <script>
      new PNotify({
         title: 'Success',
         text: '{{ message }}',
         type: 'success',
         styling: 'bootstrap3'
      });
   </script>
    {% endif %}
  {% endfor %}
{% endif %}   

{% endblock extra_javascript %}