{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

        <title>{% block head_title %}Dvine | {% endblock head_title %}</title>

        <meta name="description" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
        <meta name="subject" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
        <meta name="author" content="Codings">

        <!-- ==============================================
        Favicons
        =============================================== -->
        <link rel="shortcut icon" href="{% static 'app_core/assets/images/favicon1.png' %}">
        <link rel="apple-touch-icon" href="{% static 'app_core/assets/images/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'app_core/assets/images/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'app_core/assets/images/apple-touch-icon-114x114.png' %}">

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static 'app_core/assets/css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'app_core/assets/css/vendor/slider.min.css' %}">
        <link rel="stylesheet" href="{% static 'app_core/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'app_core/assets/css/vendor/icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'app_core/assets/css/vendor/animation.min.css' %}">
        <link rel="stylesheet" href="{% static 'app_core/assets/css/vendor/gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'app_core/assets/css/vendor/cookie-notice.min.css' %}">

        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static 'app_core/assets/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'app_core/assets/css/theme-custom.css' %}">

        <!-- ==============================================
        Open Street Map
        =============================================== -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton/src/easy-button.css" />

        <!-- ==============================================
        Theme Settings
        =============================================== -->
        <style>
            :root {
                --header-bg-color: #ffffff;
                --nav-item-color: #1d71b8;
                --top-nav-item-color: #f5f5f5;
                --hero-bg-color: #000;
                
                --section-1-bg-color: #f5f5f5;
                --section-2-bg-color: #1d71b8;
                --section-3-bg-color: #f5f5f5;
                --section-4-bg-color: #111117;
                --section-5-bg-color: #eeeeee;
                --section-6-bg-color: #f5f5f5;

                --card-bg-color: #16161c;
                
                --footer-bg-color: #16161c;
            }
        </style>

        {% block extra_styles %}{% endblock extra_styles %}
        
    </head>

    <body>
        <!-- Preloader -->
        <!-- <div data-timeout="2000" class="odd preloader counter">
            <div data-aos="fade-up" data-aos-delay="200" class="row justify-content-center text-center items">
                <div data-percent="100" class="radial">
                    <span></span>
                </div>
            </div>
        </div> -->
        
        <!-- start Header -->
        {% include 'app_core/snippets/header.html' %}
        <!-- end Header -->

        {% block content %} {% endblock content %}
        
        <!-- start Footer -->
        {% include 'app_core/snippets/footer.html' %}
        <!-- end Footer -->

        <!-- #region Global ============================ -->

        <!-- start Modal Login -->
        {% include 'app_core/snippets/modal_login.html' %}
        <!-- end Modal Login -->

        <!-- Modal [responsive menu] -->
        <div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        Menu <i class="icon-close"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                            <div class="contacts p-0 col-12 text-center">
                                <a href="{% url 'account_login' %}" class="nav-link">
                                    <i class="icon-login"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#header" class="smooth-anchor">
                <i class="icon-arrow-up"></i>
            </a>
        </div>        
        
        <!-- ==============================================
        Google reCAPTCHA // Put your site key here
        =============================================== -->

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script src="{% static 'app_core/assets/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/jquery.easing.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/jquery.inview.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/ponyfill.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/slider.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/animation.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/progress-radial.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/bricklayer.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/gallery.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/shuffle.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/vendor/particles.min.js' %}"></script>
        <script src="{% static 'app_core/assets/js/main.js' %}"></script>

        <!-- #endregion Global ========================= -->
        <!-- ==============================================
        Open Street Map
        =============================================== -->
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
        <script src="https://unpkg.com/leaflet-easybutton/src/easy-button.js"></script>

        <script>
            // Define la ubicación del marcador
            var markerLocation = [46.2479066589165,-119.91981155125926];
    
            // Define la URL de la imagen personalizada
            var imageUrl = '{% static "app_core/assets/images/logo_header.png" %}';
    
            // Crea un icono personalizado con la imagen
            var customIcon = L.icon({
                iconUrl: imageUrl,
                iconSize: [64, 30], // Tamaño de la imagen en píxeles
                iconAnchor: [32, 30], // Punto de anclaje del icono (la parte inferior del icono en este caso)
            });
    
            var map = L.map('map', {
                scrollWheelZoom: false,
                attributionControl: false
            }).setView(markerLocation, 17); // Definimos el centro y el nivel de zoom inicial
    
            // Agregamos el mapa de OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
    
            // Crea el marcador con el icono personalizado
            var marker = L.marker(markerLocation, { icon: customIcon }).addTo(map);
    
            // Añadimos un control de capas (opcional)
            var baseLayers = {
                "Mapa de Calle": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }),
                "Satélite": L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                    attribution: '&copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                })
            };
            L.control.layers(baseLayers).addTo(map);
    
            // Agregamos el control de ubicación con un icono personalizado
            L.control.locate({
                icon: 'fa fa-crosshairs'
            }).addTo(map);
            
            // Creamos un botón personalizado para redirigir al marcador
            var goToMarkerButton = L.easyButton('fa-location-arrow', function(btn, map){
                map.setView(marker.getLatLng(), 17); // Centra el mapa en la ubicación del marcador con un zoom de 17
            });
            goToMarkerButton.addTo(map);
            // Crear un botón personalizado
            var googleMapsButton = L.easyButton('fa-map', function(btn, map){
                // Obtener las coordenadas del marcador
                var lat = marker.getLatLng().lat;
                var lng = marker.getLatLng().lng;
                
                // Abrir Google Maps en un nuevo tab del navegador
                window.open('https://www.google.com/maps/search/?api=1&query=' + lat + ',' + lng, '_blank');
            });
    
            // Agregar el botón al mapa
            googleMapsButton.addTo(map);
        </script>

    </body>
</html>